<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="mx-auto w-1/2 bg-zinc-800 rounded-lg">
            <div class="title text-center text-3xl text-white"><p class="text-3xl">Title : <%=title%></div>
            <div class="content text-2xl text-white ml-5 mt-10 p-10"><p class="text-2xl">Work : <%=data%></div>
        </div>

    </div>
</body>
</html>